@use '@styles/mixins';
@use '@styles/variables';


.nav,
.navList,
.listItem {
  @include mixins.container;
}

.nav {
  width: fit-content;
  
}

.navList {
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem;
}

.text {
  flex-shrink: 0;
  width: fit-content;
  
}

.listItem {
  width: fit-content;
}
