.card {
  min-width: 30px;
  width: 5%;
  aspect-ratio: 1;
  background-color: white;
  border: solid 1px #000;
  position: absolute;
  cursor: grab;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
}

.dragging {
  box-shadow: 8px 8px 8px #000;
}

.animating {
  animation: moveToPosition 0.3s ease-out;
}

@keyframes moveToPosition {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }

  to {
    opacity: 1;
    transform: translate(var(--x), var(--y));
  }
}