@use '@styles/mixins';

.footer,
.container,
.nav,
.navList,
.listItem {
  @include mixins.container;
}

.footer {
  padding: 0 0.625rem 1.25rem;
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 88.75rem;
  font-size: 1.25rem;
  margin: 0 auto;
  gap: 1.5rem;
}

.nav {
  width: fit-content;

}

.navList {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.text {
  flex-shrink: 0;
  width: fit-content;
}

.listItem {
  width: fit-content;
}