@use '@styles/variables';

.container {
    width: 100%;
    height: calc(100vh - 34px);
    background-color: variables.$colorAntiquewhite ;
    border: solid 1px #000111;
    position: relative;
    overflow: hidden;
}